.App {
  text-align: center;
  margin-top: 50px;
}

.calculator-body {
  width: 30%;
  margin: auto;
  border: #ece4e4 1px solid;
  height: auto;
  background: #e5f3ff;
  padding: 5px 1px;
  border-radius: 5px;
}

h1 {
  text-shadow: -1px 2px 0pc #356e90;
  color: #53c6ff
}

.mark {
  text-align: left;
  margin: 0px;
  padding: 5px 0 5px 25px;
  font-style: italic;
  background-color: #9dc8fb36;
}